In [20]:
import pandas as pd

df = pd.read_csv("C:\\Users\\3070\\Desktop\\ETL PowerBI\\Superstore.csv", encoding='ISO-8859-1')

df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [21]:
# Rename columns clearly
df.columns = df.columns.str.replace(' ', '_').str.replace('-', '_')

# Confirm changes
print(df.columns.tolist())

['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode', 'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State', 'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category', 'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit']

In [22]:
# Convert date columns clearly
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'])

# Convert Postal_Code clearly into categorical (string type)
df['Postal_Code'] = df['Postal_Code'].astype(str)

# Verify data types explicitly
print(df.dtypes)

Row_ID                    int64
Order_ID                 object
Order_Date       datetime64[ns]
Ship_Date        datetime64[ns]
Ship_Mode                object
Customer_ID              object
Customer_Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal_Code              object
Region                   object
Product_ID               object
Category                 object
Sub_Category             object
Product_Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [23]:
# Check for duplicates
duplicates = df.duplicated().sum()
print(f"Duplicates before removal: {duplicates}")

# Remove duplicates (if any)
df.drop_duplicates(inplace=True)

# Check again
print(f"Data shape after duplicate removal: {df.shape}")

Duplicates before removal: 0
Data shape after duplicate removal: (9994, 21)

In [26]:
from sqlalchemy import create_engine

# MySQL connection details
username = 'root'
password = 'Nayeem32!'
database_name = 'sales_insights'

# Create database connection string
db_connection_str = f'mysql+pymysql://{username}:{password}@localhost/{database_name}'

# Create SQLAlchemy engine
engine = create_engine(db_connection_str)

# Check connection
try:
    connection = engine.connect()
    print("Successfully connected to MySQL!")
    connection.close()
except Exception as e:
    print(f"Error: {e}")

Successfully connected to MySQL!

In [27]:
# Loading data clearly into MySQL
df.to_sql('superstore_sales', engine, if_exists='replace', index=False)

print("Data loaded successfully into MySQL!")

Data loaded successfully into MySQL!